@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root{
    --primary-color: #1f2a2c;
    --primary-color-2:#2f6b4f;
    --secondary-color: #f9b234;
    --secondary-color-2:#555e57;
    --text-color: #333333;
    --background-color: #fbffe2;
    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fbffe2;
    color: var(--primary-color);
    max-width: fit-content;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    margin-top: 20px;
}

.logo{
    font-size: 25px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}
.logo {
    display: flex;
  align-items: center;
  gap: 12px;
    vertical-align: middle;
    scale: 0.8;
}

.logo .logo-symbol{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position: relative;
    top: 8px;
    scale: 1.8;
    animation: scaleShake 1.3s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 3;
}
.logo .logo-text{
    width: 130px;
    height: auto;
    position: relative;
    top: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
  width: 100%;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
       margin-right: -90px;
       margin-left: auto;
        gap: 32px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  align-items: center;
  margin-left: 30px;
}

.nav-links a{
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.nav-links i{
    margin-left:2px;
    color: var(--secondary-color);
     transition: transform 0.3s ease;
     transform: rotate(18deg);
}

.nav-links i:hover{
    transform: rotate(180deg);
}


.nav-links a:hover,
.nav-links a.active{
    color: var(--primary-color-2);
}

.nav-links a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid var(--secondary-color);
    z-index: -1;
    transition: 0.5s ease;

}
.nav-links a:hover::before{
    width: 100%;
    
    
}

@keyframes scaleShake {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.1) rotate(0deg) ;
  }
  40% {
    transform: scale(1.1) rotate(-2deg) translateX(5px);
  }
  50% {
    transform: scale(1.1)  rotate(2deg) translateX(-5px);
  }
  60% {
    transform: scale(1.1)  rotate(-2deg) translateX(5px);
  }
  70% {
    transform: scale(1.1)  rotate(2deg) translateX(-5px);
  }
  80% {
    transform: scale(1.1)  rotate(-2deg) translateX(5px);
  }
  90% {
    transform:scale(1.1)  rotate(2deg) translateX(-5px);
  }
  95% {
    transform: scale(1.1)  rotate(-2deg) translateX(5px);
  }
  100% {
    transform: scale(1);
  }
}

.dropdown-menu {
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 16px;
  padding: 18px 22px;
  min-width: 550px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.12);
  opacity: 0;
  visibility:hidden;
  transition: all 0.25s ease;
  z-index: 100;
}

.dropdown-resource {
  max-width: 900px;
  position: absolute;
  top: 70%;
  transform: translateX(-30%);
  background: #ffffff;
  border-radius: 16px;
  padding: 18px 10px;
  min-width:220px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.12);
  opacity: 0;
  visibility:hidden;
  transition: all 0.25s ease;
  z-index: 100;
}
.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 90%;
}

.nav-item.dropdown:hover .dropdown-resource {
  opacity: 1;
  visibility: visible;
  top: 90%;
}
.nav-item.dropdown:hover .nav-links .ti-chevron-down {
  transform: rotate(180deg);
}
.dropdown-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 10px;
  position: relative;
}

/* Vertical divider */
.dropdown-grid::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: #e5e5e5;
}
.dropdown-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #1f2a2c;
  transition: background 0.2s ease;
}

.dropdown-item{
  text-decoration: none;
  margin-left:0px;
}

.dropdown-item:hover {
  background: #f6f6f6;
}
.dropdown-item .icon {
  font-size: 22px;
  line-height: 1;
}

.dropdown-item .icon img {
  width: 28px;
  height: 28px;
align-items: center;
}

.dropdown-resource .dropdown-item .icon {
align-items: center;
align-self: center;
font-size: 22px;
border-radius: 20%;
padding: 2px 2px;
}


.dropdown-item strong {
  display: block;
  font-size: 15px;
  font-weight: 600;
}

.dropdown-item small {
  font-size: 12px;
  color: #6b6b6b;
  line-height: 1.3;
}
